:root {
	--border-radius: 6px;
	--primary: #2db92d;
	/* common */
	--black: #000000;
	--white: #ffffff;
	--background: #f9fafb;
	--transparent: "transparent";

	/* bilbao */
	--bilbao50: #ebf7e6;
	--bilbao100: #bee0ac;
	--bilbao300: #67a63d;
	--bilbao400: #3d820f;

	/* blue */
	--blue50: #eff6ff;
	--blue100: #dbeafe;
	--blue500: #0747a6;
	--blue600: #2563eb;
	--blue700: #1d4ed8;
	--blue800: #1e40af;

	/* forest */
	--forest50: #f2f5f5;
	--forest300: #657f72;
	--forest400: #395643;
	--forest500: #0d2b14;
	--forest600: #07160a;

	/* gossamer */
	--gossamer50: #dffbfc;
	--gossamer200: #3dd9db;
	--gossamer300: #26b4b6;
	--gossamer400: #008486;
	--gossamer500: #004f50;

	/* gray */
	--gray50: #f9fafb;
	--gray100: #f3f4f6;
	--gray200: #e5e7eb;
	--gray300: #d1d5db;
	--gray400: #9ca3af;
	--gray500: #6b7280;
	--gray600: #4b5563;
	--gray700: #374151;
	--gray800: #1f2937;
	--gray900: #111827;

	/* green */
	--green50: #e6f7ed;
	--green100: #d1fae5;
	--green300: #43b166;
	--green500: #10b981;
	--green600: #059669;
	--green800: #065f46;

	/* greenDark */
	--greenDark50: #cce0e1;
	--greenDark800: #0e4749;

	/* indigo */
	--indigo50: #eef2ff;
	--indigo100: #e0e7ff;
	--indigo600: #4f46e5;

	/* mariner */
	--mariner50: #f3f7fd;
	--mariner200: #0ea5e9;
	--mariner300: #1b62c0;
	--mariner400: #0547a0;

	/* red */
	--red50: #fef2f2;
	--red100: #ffc2b8;
	--red300: #ef715c;
	--red400: #da4a2e;
	--red500: #bb2e21;
	--red600: #dc2626;

	/* yellow */
	--yellow50: #fffbeb;
	--yellow100: #fef3c7;
	--yellow400: #fbbf24;
	--yellow500: #b44100;
	--yellow700: #b45309;
	--yellow800: #92400e;

	/* zucchini */
	--zucchini100: #cad4d2;
	--zucchini400: #517068;
	--zucchini600: #022c1f;

	/* dialog, modal */
	--backgroundDialog: "rgba(17, 24, 39, 0.5)";

	/* react-native-modal */
	--backdropColor: #111827;

	/* textinput */
	--inputBorder: #d1d5db;
	--inputError: #ef4444;
}
* {
	font-family: "Public Sans", sans-serif;
	font-weight: 600;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	font-family: "Public Sans", sans-serif;
	margin: 16px 64px;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
img {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}
select {
	font-size: 18px !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bolder !important;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}
a {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}
h1.title {
	margin: 0;
	font-size: 32px;
	font-weight: bolder !important;
	color: var(--primary);
}
#maskContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 500px;
	width: 30vw;
	height: 400px;
	background-position: center;
	background-repeat: no-repeat;
	/* background-size: cover; */
}
#graphContainer {
	display: flex;
	justify-content: center;
	min-width: 500px;
	width: 30vw;
	height: 400px;
}
#chartContainer {
	display: flex;
	justify-content: center;
	min-width: 1000px;
	height: 400px;
}
.mask {
	width: 485px;
	height: 335px;
}
#masalukot_I {
	height: 355px;
}
#masalukot_II {
	height: 380px;
}
#malabanan_norte {
	height: 390px;
}
#mangilag_norte {
	height: 355px;
}
#pahinga_norte {
	height: 375px;
}
#san_andres {
	height: 370px;
}
#sta_catalina_norte {
	width: 470px;
}
.flex-row {
	display: flex;
	flex-direction: row;
}
.justify-content-between {
	justify-content: space-between;
}
.justify-content-center {
	justify-content: center;
}
.justify-content-evenly {
	justify-content: space-evenly;
}
.justify-content-around {
	justify-content: space-around;
}
.justify-content-start {
	justify-content: flex-start;
}
.justify-content-end {
	justify-content: flex-end;
}
nav {
	margin-bottom: 48px;
}
.nav-link {
	color: var(--gray500);
	cursor: pointer;
	font-size: 18;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}
.nav-link-active {
	text-decoration: none;
	color: var(--primary);
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}
.nav-image {
	width: 50px;
	height: 50px;
	margin: 8px 32px 8px 0;
	cursor: pointer;
}
.indication {
	margin: 16px 0;
}
p {
	margin: 8px 0;
	font-size: 16px;
	font-weight: 100;
}
select,
#mapSelect {
	margin: 8px 0;
	padding: 8px;
	border-radius: var(--border-radius);
	border-width: 0;
	background-color: var(--gray200);
	border-right: 8px solid transparent;
}
.disabled {
	cursor: not-allowed;
}
.border-box {
	padding: 10px;
	border: var(--primary) 2px solid;
}
rect:hover,
path:hover {
	fill: transparent;
	cursor: pointer;
}
.mt-20 {
	margin-top: 20px;
}
.button {
	cursor: pointer;
	background: var(--primary);
	border: var(--primary) 2px solid;
	border-radius: var(--border-radius);
	transition-duration: 200ms;
	padding: 2.5px 5px;
	color: var(--white);
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
	margin-bottom: 2px;
}
.button:hover {
	background: transparent;
	color: var(--primary);
}
